In [2]:
library(phyloseq)
library(ggplot2)
library(vegan)
library(readr)
library(data.table)
library(dplyr)
library(stats)
library(plotly)
library(RColorBrewer)
library(ape)
library(nlme)
library(micropower)
library(reshape2)

### Full Data

In [23]:
fecal.unif = readRDS("/gpfs/data/gilbert-lab/Lutz/Batmicrobiome/Nature_data_results/Bdiv/nona_updates_19April2019/fecal.nona.unif.rds")
oral.unif = readRDS("/gpfs/data/gilbert-lab/Lutz/Batmicrobiome/Nature_data_results/Bdiv/nona_updates_19April2019/oral.nona.unif.rds")
skin.unif = readRDS("/gpfs/data/gilbert-lab/Lutz/Batmicrobiome/Nature_data_results/Bdiv/nona_updates_19April2019/skin.nona.unif.rds")

In [15]:
fecal = readRDS("/gpfs/data/gilbert-lab/Lutz/Batmicrobiome/Nature_data_results/RDSfiles/fecal_t.nona.rds")
oral = readRDS("/gpfs/data/gilbert-lab/Lutz/Batmicrobiome/Nature_data_results/RDSfiles/oral_t.nona.rds")
skin = readRDS("/gpfs/data/gilbert-lab/Lutz/Batmicrobiome/Nature_data_results/RDSfiles/skin_t.nona.rds")

In [20]:
fecal.df = read.csv("/gpfs/data/gilbert-lab/Lutz/Batmicrobiome/Nature_data_results/RDSfiles/fecal_t.nona.df.csv")
oral.df = read.csv("/gpfs/data/gilbert-lab/Lutz/Batmicrobiome/Nature_data_results/RDSfiles/oral_t.nona.df.csv")
skin.df = read.csv("/gpfs/data/gilbert-lab/Lutz/Batmicrobiome/Nature_data_results/RDSfiles/skin_t.nona.df.csv")

In [21]:
df1 <- uniqueN(fecal.df$Host_species)
df1

df2 <- uniqueN(oral.df$Host_species)
df2

df3 <- uniqueN(skin.df$Host_species)
df3

[1] 26

[1] 28

[1] 28

### PERMANOVA of taxonomic ranks, nested

In [6]:
# FECAL
adonis2(fecal.unif ~ Host_Family, nperm=999, data=fecal.df)
adonis2(fecal.unif ~ Host_Family:Host_Genus, nperm=999, data=fecal.df)
adonis2(fecal.unif ~ Host_Family:Host_Genus:Host_species, nperm=999, data=fecal.df)

            Df  SumOfSqs  R2        F        Pr(>F)
Host_Family   8  6.349566 0.0751342 3.411994 0.001
Residual    336 78.160097 0.9248658       NA    NA
Total       344 84.509663 1.0000000       NA    NA

                       Df  SumOfSqs R2       F        Pr(>F)
Host_Family:Host_Genus  17 10.80481 0.127853 2.819811 0.001
Residual               327 73.70485 0.872147       NA    NA
Total                  344 84.50966 1.000000       NA    NA

                                    Df  SumOfSqs R2       F        Pr(>F)
Host_Family:Host_Genus:Host_species  25 15.85106 0.187565 2.945872 0.001
Residual                            319 68.65861 0.812435       NA    NA
Total                               344 84.50966 1.000000       NA    NA

In [13]:
# ORAL
adonis2(oral.unif ~ Host_Family, nperm=999, data=oral.df)
adonis2(oral.unif ~ Host_Family:Host_Genus, nperm=999, data=oral.df)
adonis2(oral.unif ~ Host_Family:Host_Genus:Host_species, nperm=999, data=oral.df)

            Df  SumOfSqs R2        F        Pr(>F)
Host_Family   8 10.04616 0.1110133 4.776517 0.001
Residual    306 80.44890 0.8889867       NA    NA
Total       314 90.49506 1.0000000       NA    NA

                       Df  SumOfSqs R2        F        Pr(>F)
Host_Family:Host_Genus  17 15.46785 0.1709249 3.601794 0.001
Residual               297 75.02721 0.8290751       NA    NA
Total                  314 90.49506 1.0000000       NA    NA

                                    Df  SumOfSqs R2      F        Pr(>F)
Host_Family:Host_Genus:Host_species  27 21.57584 0.23842 3.327709 0.001
Residual                            287 68.91922 0.76158       NA    NA
Total                               314 90.49506 1.00000       NA    NA

In [14]:
# SKIN
adonis2(skin.unif ~ Host_Family, nperm=999, data=skin.df)
adonis2(skin.unif ~ Host_Family:Host_Genus, nperm=999, data=skin.df)
adonis2(skin.unif ~ Host_Family:Host_Genus:Host_species, nperm=999, data=skin.df)

            Df  SumOfSqs R2        F        Pr(>F)
Host_Family   8 11.93468 0.1205795 6.118645 0.001
Residual    357 87.04295 0.8794205       NA    NA
Total       365 98.97763 1.0000000       NA    NA

                       Df  SumOfSqs R2        F        Pr(>F)
Host_Family:Host_Genus  16 16.31869 0.1648725 4.306267 0.001
Residual               349 82.65894 0.8351275       NA    NA
Total                  365 98.97763 1.0000000       NA    NA

                                    Df  SumOfSqs R2        F        Pr(>F)
Host_Family:Host_Genus:Host_species  27 23.83521 0.2408142 3.970881 0.001
Residual                            338 75.14241 0.7591858       NA    NA
Total                               365 98.97763 1.0000000       NA    NA

### PERMANOVA of host variables

In [7]:
# FECAL
adonis2(fecal.unif ~ Site_name, nperm=999, data=fecal.df)
adonis2(fecal.unif ~ Diet, strata = Site_name, nperm=999, data=fecal.df)
adonis2(fecal.unif ~ Site_name + Host_species, by="margin", nperm=999, data=fecal.df)
adonis2(fecal.unif ~ Age + Sex + Weight, strata = Host_species, by="margin", nperm=999, data=fecal.df)

          Df  SumOfSqs R2        F        Pr(>F)
Site_name  16 13.16609 0.1557939 3.783171 0.001
Residual  328 71.34357 0.8442061       NA    NA
Total     344 84.50966 1.0000000       NA    NA

         Df  SumOfSqs  R2         F        Pr(>F)
Diet       1  2.143857 0.02536818 8.927768 0.001
Residual 343 82.365806 0.97463182       NA    NA
Total    344 84.509663 1.00000000       NA    NA

             Df  SumOfSqs  R2         F        Pr(>F)
Site_name     15  7.346523 0.08693116 2.428388 0.001
Host_species  24 10.031485 0.11870222 2.072438 0.001
Residual     304 61.312084 0.72550383       NA    NA
Total        344 84.509663 1.00000000       NA    NA

         Df  SumOfSqs   R2          F        Pr(>F)
Age        2  0.7496715 0.008870837 1.567993 0.010
Sex        1  0.4594875 0.005437100 1.922104 0.007
Weight     1  1.7768350 0.021025229 7.432762 0.001
Residual 340 81.2785155 0.961765942       NA    NA
Total    344 84.5096629 1.000000000       NA    NA

In [16]:
#FDR p-value correction
p = c("0.011","0.006","0.001")
p.adjust(p, method = "fdr", n = length(p))

[1] 0.011 0.009 0.003

In [8]:
# ORAL
adonis2(oral.unif ~ Site_name, nperm=999, data=oral.df)
adonis2(oral.unif ~ Diet, strata = Site_name, nperm=999, data=oral.df)
adonis2(oral.unif ~ Site_name + Host_species, by="margin", nperm=999, data=oral.df)
adonis2(oral.unif ~ Age + Sex + Weight, strata = Host_species, by="margin", nperm=999, data=oral.df)

          Df  SumOfSqs R2        F        Pr(>F)
Site_name  15 17.05456 0.1884585 4.628975 0.001
Residual  299 73.44050 0.8115415       NA    NA
Total     314 90.49506 1.0000000       NA    NA

         Df  SumOfSqs  R2         F        Pr(>F)
Diet       1  1.926021 0.02128316 6.806492 0.001
Residual 313 88.569039 0.97871684       NA    NA
Total    314 90.495060 1.00000000       NA    NA

             Df  SumOfSqs  R2         F        Pr(>F)
Site_name     13  7.622198 0.08422778 2.620885 0.001
Host_species  25 12.143472 0.13418934 2.171271 0.001
Residual     274 61.297026 0.67735218       NA    NA
Total        314 90.495060 1.00000000       NA    NA

         Df  SumOfSqs   R2          F        Pr(>F)
Age        2  1.5075698 0.016659139 2.690223 0.001
Sex        1  0.3053897 0.003374656 1.089921 0.298
Weight     1  1.7142018 0.018942490 6.117906 0.001
Residual 310 86.8602020 0.959833631       NA    NA
Total    314 90.4950600 1.000000000       NA    NA

In [6]:
#FDR p-value correction
p = c("0.001","0.293","0.001")
p.adjust(p, method = "fdr", n = length(p))

[1] 0.0015 0.2930 0.0015

In [26]:
# SKIN
adonis2(skin.unif ~ Site_name, nperm=999, data=skin.df)
adonis2(skin.unif ~ Diet, strata = Site_name, nperm=999, data=skin.df)
adonis2(skin.unif ~ Site_name + Host_species, by="margin", nperm=999, data=skin.df)
adonis2(skin.unif ~ Age + Sex + Weight, strata = Host_species, by="margin", nperm=999, data=skin.df)

          Df  SumOfSqs R2        F        Pr(>F)
Site_name  16 25.01642 0.2527482 7.377795 0.001
Residual  349 73.96121 0.7472518       NA    NA
Total     365 98.97763 1.0000000       NA    NA

         Df  SumOfSqs  R2         F        Pr(>F)
Diet       1  5.282499 0.05337064 20.52219 0.001
Residual 364 93.695127 0.94662936       NA    NA
Total    365 98.977626 1.00000000       NA    NA

             Df  SumOfSqs R2        F        Pr(>F)
Site_name     15 11.27658 0.1139306 3.802071 0.001
Host_species  26 10.09538 0.1019966 1.963737 0.001
Residual     323 63.86583 0.6452552       NA    NA
Total        365 98.97763 1.0000000       NA    NA

         Df  SumOfSqs   R2          F         Pr(>F)
Age        2  2.0494844 0.020706542  4.017894 0.001
Sex        1  0.3358454 0.003393144  1.316810 0.052
Weight     1  3.3240358 0.033583709 13.033154 0.001
Residual 361 92.0711063 0.930221404        NA    NA
Total    365 98.9776260 1.000000000        NA    NA

In [38]:
#FDR p-value correction
p = c("0.001","0.148","0.001")
p.adjust(p, method = "fdr", n = length(p))

[1] 0.0015 0.1480 0.0015

### Restricting samples to species for which N >= 10

In [6]:
fecal.10.unif = readRDS("/gpfs/data/gilbert-lab/Lutz/Batmicrobiome/Nature_data_results/Bdiv/nona_updates_19April2019/fecal.10.nona.unif.rds")
oral.10.unif = readRDS("/gpfs/data/gilbert-lab/Lutz/Batmicrobiome/Nature_data_results/Bdiv/nona_updates_19April2019/oral.10.nona.unif.rds")
skin.10.unif = readRDS("/gpfs/data/gilbert-lab/Lutz/Batmicrobiome/Nature_data_results/Bdiv/nona_updates_19April2019/skin.10.nona.unif.rds")

In [3]:
batfecal.10.df = read.csv("/gpfs/data/gilbert-lab/Lutz/Batmicrobiome/Nature_data_results/CSVfiles/batfecal.10.df.csv")
batoral.10.df = read.csv("/gpfs/data/gilbert-lab/Lutz/Batmicrobiome/Nature_data_results/CSVfiles/batoral.10.df.csv")
batskin.10.df = read.csv("/gpfs/data/gilbert-lab/Lutz/Batmicrobiome/Nature_data_results/CSVfiles/batskin.10.df.csv")

In [17]:
df1 <- uniqueN(batfecal.10.df$Host_species)
df1

df2 <- uniqueN(batoral.10.df$Host_species)
df2

df3 <- uniqueN(batskin.10.df$Host_species)
df3

[1] 17

[1] 17

[1] 17

#### FECAL

In [9]:
adonis2(fecal.10.unif ~ Host_Family, nperm=999, data=batfecal.10.df)
adonis2(fecal.10.unif ~ Host_Family:Host_Genus, nperm=999, data=batfecal.10.df)
adonis2(fecal.10.unif ~ Host_Family:Host_Genus:Host_species, nperm=999, data=batfecal.10.df)

            Df  SumOfSqs  R2         F        Pr(>F)
Host_Family   7  5.955237 0.07605842 3.680858 0.001
Residual    313 72.342963 0.92394158       NA    NA
Total       320 78.298200 1.00000000       NA    NA

                       Df  SumOfSqs  R2        F        Pr(>F)
Host_Family:Host_Genus   9  8.154292 0.1041441 4.017114 0.001
Residual               311 70.143908 0.8958559       NA    NA
Total                  320 78.298200 1.0000000       NA    NA

                                    Df  SumOfSqs R2        F        Pr(>F)
Host_Family:Host_Genus:Host_species  16 12.80635 0.1635587 3.715282 0.001
Residual                            304 65.49185 0.8364413       NA    NA
Total                               320 78.29820 1.0000000       NA    NA

In [8]:
adonis2(fecal.10.unif ~ Site_name, nperm=999, data=batfecal.10.df)
adonis2(fecal.10.unif ~ Diet, strata=Site_name, nperm=999, data=batfecal.10.df)
adonis2(fecal.10.unif ~ Site_name + Host_species, by="margin", nperm=999, data=batfecal.10.df)
adonis2(fecal.10.unif ~ Age + Sex + Weight, strata = Host_species, by="margin", nperm=999, data=batfecal.10.df)

          Df  SumOfSqs R2       F        Pr(>F)
Site_name  14 12.09981 0.154535 3.995072 0.001
Residual  306 66.19839 0.845465       NA    NA
Total     320 78.29820 1.000000       NA    NA

         Df  SumOfSqs  R2         F        Pr(>F)
Diet       1  2.146411 0.02741329 8.991321 0.001
Residual 319 76.151789 0.97258671       NA    NA
Total    320 78.298200 1.00000000       NA    NA

             Df  SumOfSqs  R2         F        Pr(>F)
Site_name     13  6.819563 0.08709731 2.601795 0.001
Host_species  15  7.526101 0.09612099 2.488506 0.001
Residual     291 58.672287 0.74934400       NA    NA
Total        320 78.298200 1.00000000       NA    NA

         Df  SumOfSqs   R2         F        Pr(>F)
Age        2  0.7916519 0.01011073 1.667426 0.005
Sex        1  0.5526092 0.00705775 2.327879 0.004
Weight     1  1.7520034 0.02237604 7.380355 0.001
Residual 316 75.0144303 0.95806072       NA    NA
Total    320 78.2982001 1.00000000       NA    NA

In [15]:
#FDR p-value correction
p = c("0.005","0.004","0.001")
p.adjust(p, method = "fdr", n = length(p))

[1] 0.005 0.005 0.003

#### ORAL

In [12]:
adonis2(oral.10.unif ~ Host_Family, nperm=999, data=batoral.10.df)
adonis2(oral.10.unif ~ Host_Family:Host_Genus, nperm=999, data=batoral.10.df)
adonis2(oral.10.unif ~ Host_Family:Host_Genus:Host_species, nperm=999, data=batoral.10.df)

            Df  SumOfSqs  R2        F        Pr(>F)
Host_Family   7  9.232999 0.1140388 5.093537 0.001
Residual    277 71.730695 0.8859612       NA    NA
Total       284 80.963694 1.0000000       NA    NA

                       Df  SumOfSqs R2        F        Pr(>F)
Host_Family:Host_Genus   9 11.85324 0.1464019 5.240631 0.001
Residual               275 69.11045 0.8535981       NA    NA
Total                  284 80.96369 1.0000000       NA    NA

                                    Df  SumOfSqs R2        F        Pr(>F)
Host_Family:Host_Genus:Host_species  16 16.99788 0.2099445 4.451043 0.001
Residual                            268 63.96581 0.7900555       NA    NA
Total                               284 80.96369 1.0000000       NA    NA

In [9]:
adonis2(oral.10.unif ~ Site_name, nperm=999, data=batoral.10.df)
adonis2(oral.10.unif ~ Diet, strata=Site_name, nperm=999, data=batoral.10.df)
adonis2(oral.10.unif ~ Site_name + Host_species, by="margin", nperm=999, data=batoral.10.df)
adonis2(oral.10.unif ~ Age + Sex + Weight, strata = Host_species, by="margin", nperm=999, data=batoral.10.df)

          Df  SumOfSqs R2        F        Pr(>F)
Site_name  13 15.70977 0.1940347 5.018674 0.001
Residual  271 65.25393 0.8059653       NA    NA
Total     284 80.96369 1.0000000       NA    NA

         Df  SumOfSqs R2         F        Pr(>F)
Diet       1  1.93149 0.02385625 6.916317 0.001
Residual 283 79.03220 0.97614375       NA    NA
Total    284 80.96369 1.00000000       NA    NA

             Df  SumOfSqs  R2         F        Pr(>F)
Site_name     12  7.390125 0.09127702 2.786639 0.001
Host_species  15  8.678244 0.10718686 2.617886 0.001
Residual     256 56.575685 0.69877845       NA    NA
Total        284 80.963694 1.00000000       NA    NA

         Df  SumOfSqs   R2         F        Pr(>F)
Age        2  1.5575781 0.01923798 2.820325 0.001
Sex        1  0.2775428 0.00342799 1.005100 0.406
Weight     1  1.7137020 0.02116630 6.206042 0.001
Residual 280 77.3176505 0.95496693       NA    NA
Total    284 80.9636944 1.00000000       NA    NA

In [16]:
#FDR p-value correction
p = c("0.001","0.406","0.001")
p.adjust(p, method = "fdr", n = length(p))

[1] 0.0015 0.4060 0.0015

#### SKIN

In [15]:
adonis2(skin.10.unif ~ Host_Family, nperm=999, data=batskin.10.df)
adonis2(skin.10.unif ~ Host_Family:Host_Genus, nperm=999, data=batskin.10.df)
adonis2(skin.10.unif ~ Host_Family:Host_Genus:Host_species, nperm=999, data=batskin.10.df)

            Df  SumOfSqs R2        F     Pr(>F)
Host_Family   7 10.75201 0.1225568 6.445 0.001
Residual    323 76.97880 0.8774432    NA    NA
Total       330 87.73080 1.0000000    NA    NA

                       Df  SumOfSqs R2        F        Pr(>F)
Host_Family:Host_Genus   9 12.96862 0.1478228 6.186915 0.001
Residual               321 74.76219 0.8521772       NA    NA
Total                  330 87.73080 1.0000000       NA    NA

                                    Df  SumOfSqs R2        F        Pr(>F)
Host_Family:Host_Genus:Host_species  16 19.07207 0.2173931 5.451445 0.001
Residual                            314 68.65873 0.7826069       NA    NA
Total                               330 87.73080 1.0000000       NA    NA

In [10]:
adonis2(skin.10.unif ~ Site_name, nperm=999, data=batskin.10.df)
adonis2(skin.10.unif ~ Diet, strata=Site_name, nperm=999, data=batskin.10.df)
adonis2(skin.10.unif ~ Site_name + Host_species, by="margin", nperm=999, data=batskin.10.df)
adonis2(skin.10.unif ~ Age + Sex + Weight, strata = Host_species, by="margin", nperm=999, data=batskin.10.df)

          Df  SumOfSqs R2       F        Pr(>F)
Site_name  15 23.43509 0.267125 7.654272 0.001
Residual  315 64.29571 0.732875       NA    NA
Total     330 87.73080 1.000000       NA    NA

         Df  SumOfSqs  R2         F       Pr(>F)
Diet       1  4.689223 0.05345013 18.5781 0.001
Residual 329 83.041579 0.94654987      NA    NA
Total    330 87.730802 1.00000000      NA    NA

             Df  SumOfSqs  R2         F        Pr(>F)
Site_name     14 10.888050 0.12410749 4.038646 0.001
Host_species  15  6.525029 0.07437558 2.258941 0.001
Residual     300 57.770684 0.65849944       NA    NA
Total        330 87.730802 1.00000000       NA    NA

         Df  SumOfSqs   R2          F         Pr(>F)
Age        2  1.9411396 0.022126090  3.889784 0.001
Sex        1  0.3331122 0.003796981  1.335025 0.069
Weight     1  2.9459179 0.033579060 11.806452 0.001
Residual 326 81.3427479 0.927185733        NA    NA
Total    330 87.7308020 1.000000000        NA    NA

In [17]:
#FDR p-value correction
p = c("0.001","0.069","0.001")
p.adjust(p, method = "fdr", n = length(p))

[1] 0.0015 0.0690 0.0015

### Restricting samples to species for which N >= 20

In [11]:
batfecal.20.wunif = readRDS("/gpfs/data/gilbert-lab/Lutz/Batmicrobiome/Nature_data_results/Bdiv/nona_updates_19April2019/fecal.20.nona.wunif.rds")
batoral.20.wunif = readRDS("/gpfs/data/gilbert-lab/Lutz/Batmicrobiome/Nature_data_results/Bdiv/nona_updates_19April2019/oral.20.nona.wunif.rds")
batskin.20.wunif = readRDS("/gpfs/data/gilbert-lab/Lutz/Batmicrobiome/Nature_data_results/Bdiv/nona_updates_19April2019/skin.20.nona.wunif.rds")

In [18]:
batfecal.20.df = read.csv("/gpfs/data/gilbert-lab/Lutz/Batmicrobiome/Nature_data_results/CSVfiles/batfecal.20.df.csv")
batoral.20.df = read.csv("/gpfs/data/gilbert-lab/Lutz/Batmicrobiome/Nature_data_results/CSVfiles/batoral.20.df.csv")
batskin.20.df = read.csv("/gpfs/data/gilbert-lab/Lutz/Batmicrobiome/Nature_data_results/CSVfiles/batskin.20.df.csv")

In [19]:
df1 <- uniqueN(batfecal.20.df$Host_species)
df1

df2 <- uniqueN(batoral.20.df$Host_species)
df2

df3 <- uniqueN(batskin.20.df$Host_species)
df3

[1] 11

[1] 11

[1] 11

#### FECAL

In [63]:
adonis2(batfecal.20.wunif ~ Host_Family, nperm=999, data=batfecal.20.df)
adonis2(batfecal.20.wunif ~ Host_Family:Host_Genus, nperm=999, data=batfecal.20.df)
adonis2(batfecal.20.wunif ~ Host_Family:Host_Genus:Host_species, nperm=999, data=batfecal.20.df)

            Df  SumOfSqs  R2        F        Pr(>F)
Host_Family   4 0.9665238 0.1109064 8.139344 0.001
Residual    261 7.7482504 0.8890936       NA    NA
Total       265 8.7147742 1.0000000       NA    NA

                       Df  SumOfSqs R2        F        Pr(>F)
Host_Family:Host_Genus   5 1.321112 0.1515946 9.291451 0.001
Residual               260 7.393662 0.8484054       NA    NA
Total                  265 8.714774 1.0000000       NA    NA

                                    Df  SumOfSqs R2       F        Pr(>F)
Host_Family:Host_Genus:Host_species  10 1.580232 0.181328 5.648004 0.001
Residual                            255 7.134542 0.818672       NA    NA
Total                               265 8.714774 1.000000       NA    NA

In [12]:
adonis2(batfecal.20.wunif ~ Site_name, nperm=999, data=batfecal.20.df)
adonis2(batfecal.20.wunif ~ Diet, strata=Site_name, nperm=999, data=batfecal.20.df)
adonis2(batfecal.20.wunif ~ Site_name + Host_species, by="margin", nperm=999, data=batfecal.20.df)
adonis2(batfecal.20.wunif ~ Age + Sex + Weight, strata = Host_species, by="margin", nperm=999, data=batfecal.20.df)

          Df  SumOfSqs R2        F        Pr(>F)
Site_name  14 1.797673 0.2062788 4.659425 0.001
Residual  251 6.917101 0.7937212       NA    NA
Total     265 8.714774 1.0000000       NA    NA

         Df  SumOfSqs R2         F        Pr(>F)
Diet       1 0.682547 0.07832068 22.43368 0.001
Residual 264 8.032227 0.92167932       NA    NA
Total    265 8.714774 1.00000000       NA    NA

             Df  SumOfSqs  R2         F        Pr(>F)
Site_name     13 0.8065112 0.09254528 2.372542 0.001
Host_species   9 0.5890702 0.06759443 2.503060 0.001
Residual     242 6.3280308 0.72612676       NA    NA
Total        265 8.7147742 1.00000000       NA    NA

         Df  SumOfSqs   R2          F          Pr(>F)
Age        2 0.11521846 0.013221050  1.8797779 0.036
Sex        1 0.02024005 0.002322498  0.6604287 0.754
Weight     1 0.53664807 0.061579114 17.5107214 0.001
Residual 261 7.99882221 0.917846180         NA    NA
Total    265 8.71477420 1.000000000         NA    NA

In [18]:
#FDR p-value correction
p = c("0.036","0.754","0.001")
p.adjust(p, method = "fdr", n = length(p))

[1] 0.054 0.754 0.003

#### ORAL

In [67]:
adonis2(batoral.20.wunif ~ Host_Family, nperm=999, data=batoral.20.df)
adonis2(batoral.20.wunif ~ Host_Family:Host_Genus, nperm=999, data=batoral.20.df)
adonis2(batoral.20.wunif ~ Host_Family:Host_Genus:Host_species, nperm=999, data=batoral.20.df)

            Df  SumOfSqs R2        F        Pr(>F)
Host_Family   4 2.528800 0.3142558 26.12137 0.001
Residual    228 5.518148 0.6857442       NA    NA
Total       232 8.046948 1.0000000       NA    NA

                       Df  SumOfSqs R2        F        Pr(>F)
Host_Family:Host_Genus   5 2.573272 0.3197824 21.34334 0.001
Residual               227 5.473676 0.6802176       NA    NA
Total                  232 8.046948 1.0000000       NA    NA

                                    Df  SumOfSqs R2        F        Pr(>F)
Host_Family:Host_Genus:Host_species  10 3.419519 0.4249461 16.40507 0.001
Residual                            222 4.627429 0.5750539       NA    NA
Total                               232 8.046948 1.0000000       NA    NA

In [27]:
adonis2(batoral.20.wunif ~ Site_name, nperm=999, data=batoral.20.df)
adonis2(batoral.20.wunif ~ Diet, strata=Site_name, nperm=999, data=batoral.20.df)
adonis2(batoral.20.wunif ~ Site_name + Host_species, by="margin", nperm=999, data=batoral.20.df)
adonis2(batoral.20.wunif ~ Age + Sex + Weight, strata = Host_species, by="margin", nperm=999, data=batoral.20.df)

          Df  SumOfSqs R2        F        Pr(>F)
Site_name  13 2.675917 0.3325381 8.392971 0.001
Residual  219 5.371031 0.6674619       NA    NA
Total     232 8.046948 1.0000000       NA    NA

         Df  SumOfSqs R2        F       Pr(>F)
Diet       1 1.761307 0.2188789 64.7288 0.001
Residual 231 6.285641 0.7811211      NA    NA
Total    232 8.046948 1.0000000      NA    NA

             Df  SumOfSqs R2         F        Pr(>F)
Site_name     12 0.496012 0.06163976 2.101025 0.001
Host_species   9 1.239614 0.15404772 7.001067 0.001
Residual     210 4.131417 0.51341417       NA    NA
Total        232 8.046948 1.00000000       NA    NA

         Df  SumOfSqs  R2         F         Pr(>F)
Age        2 0.1752010 0.02177235  3.082505 0.003
Sex        1 0.1099954 0.01366920  3.870541 0.005
Weight     1 1.1133880 0.13836152 39.178137 0.001
Residual 228 6.4794419 0.80520488        NA    NA
Total    232 8.0469482 1.00000000        NA    NA

In [28]:
#FDR p-value correction
p = c("0.003","0.005","0.001")
p.adjust(p, method = "fdr", n = length(p))

[1] 0.0045 0.0050 0.0030

#### SKIN

In [70]:
adonis2(batskin.20.wunif ~ Host_Family, nperm=999, data=batskin.20.df)
adonis2(batskin.20.wunif ~ Host_Family:Host_Genus, nperm=999, data=batskin.20.df)
adonis2(batskin.20.wunif ~ Host_Family:Host_Genus:Host_species, nperm=999, data=batskin.20.df)

            Df  SumOfSqs R2        F        Pr(>F)
Host_Family   4 1.414328 0.1486588 11.61204 0.001
Residual    266 8.099593 0.8513412       NA    NA
Total       270 9.513921 1.0000000       NA    NA

                       Df  SumOfSqs R2        F        Pr(>F)
Host_Family:Host_Genus   5 1.683453 0.1769462 11.39434 0.001
Residual               265 7.830469 0.8230538       NA    NA
Total                  270 9.513921 1.0000000       NA    NA

                                    Df  SumOfSqs R2        F       Pr(>F)
Host_Family:Host_Genus:Host_species  10 2.430933 0.2555133 8.92339 0.001
Residual                            260 7.082988 0.7444867      NA    NA
Total                               270 9.513921 1.0000000      NA    NA

In [21]:
adonis2(batskin.20.wunif ~ Site_name, nperm=999, data=batskin.20.df)
adonis2(batskin.20.wunif ~ Diet, strata=Site_name, nperm=999, data=batskin.20.df)
adonis2(batskin.20.wunif ~ Site_name + Host_species, by="margin", nperm=999, data=batskin.20.df)
adonis2(batskin.20.wunif ~ Age + Sex + Weight, strata = Host_species, by="margin", nperm=999, data=batskin.20.df)

          Df  SumOfSqs R2        F        Pr(>F)
Site_name  15 4.138439 0.4349877 13.08784 0.001
Residual  255 5.375482 0.5650123       NA    NA
Total     270 9.513921 1.0000000       NA    NA

         Df  SumOfSqs  R2         F        Pr(>F)
Diet       1 0.5959921 0.06264421 17.97748 0.001
Residual 269 8.9179291 0.93735579       NA    NA
Total    270 9.5139212 1.00000000       NA    NA

             Df  SumOfSqs  R2         F        Pr(>F)
Site_name     14 2.5306252 0.26599182 9.767829 0.001
Host_species   9 0.8231197 0.08651739 4.942182 0.001
Residual     246 4.5523628 0.47849490       NA    NA
Total        270 9.5139212 1.00000000       NA    NA

         Df  SumOfSqs   R2          F         Pr(>F)
Age        2 0.22960947 0.024134052  3.498618 0.001
Sex        1 0.05823363 0.006120887  1.774642 0.046
Weight     1 0.40199659 0.042253513 12.250650 0.001
Residual 266 8.72860566 0.917456164        NA    NA
Total    270 9.51392122 1.000000000        NA    NA

In [29]:
#FDR p-value correction
p = c("0.001","0.046","0.001")
p.adjust(p, method = "fdr", n = length(p))

[1] 0.0015 0.0460 0.0015